* {
  margin: 0%;
  padding: 0%;
}

.card {
  display: flex;
  background-color: #2e599e;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  width: 50%;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  margin: 10%;
}
